{% block title %}Model Example : Mixture + Bourbon{% endblock %}
{% block content %}
	<h1>{{ model.title }}</h1>

		{% for person in model.team %}
		<article>
				<img src="images/{{person.img}}.jpg"/>
				{{ person.name }}
				</br>{{ person.position }}
				<p>{{person.desc}}</p>
				<ul>
					<li>Mobile: {{person.mobile}}</li>
					<li>Office: {{person.office}}</li>
					<li>Email: <a href="mailto:{{person.email}}">{{person.email}}</a></li>
				</ul>
		</article>	
		{% endfor %}
{% endblock %}
